{% extends "layouts/base-side-nav.html" %}
   {% load static %}
     {% block sidebar_option %}
      sidebar-mini
     {% endblock %}
    {% block stylesheets %}
    
  <link href="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.css" %}" rel="stylesheet">
    <style>
          #app_icon{
            width: 64px;
            height: 64px;
          }
    </style>
    {% endblock %}
    {% block sidebar %}
    <!-- Main Sidebar Container -->
    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
{% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col" align="center">
         <h2 class="page-header">Comparing {{ first_app.name_ver }} and {{ second_app.name_ver }}</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-header -->

  {% include "includes/appinfo-card-compare.html" %}
  {% include "includes/code-card-compare.html" %}
{% endblock %}
<!--end new UI-->
{% block javascripts %}
<!-- jQuery -->
<script src="{% static "adminlte/plugins/jquery.min.js" %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static "adminlte/plugins/jquery-ui.min.js" %}"></script>
<script src="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.js" %}"></script>
<script>
  // Navbar Active
  function start_code_scan(hash1, hash2){


  Swal.fire({
    title: 'Are you sure?',
    text: "This will Start Scan.",
    type: "info",
    showCancelButton: true,
    confirmButtonText: 'Yes',
    cancelButtonText: 'No',
    confirmButtonColor: '#d33',
    cancelButtonColor: '#2da532',
  }).then((result) => {
    console.log(result.value)
      if (result.value) {
        
          Swal.fire(
              'Scan Started',
              'Scan Started Successfully',
              )
          Swal.showLoading()
          $.ajax({
                  url: '{% url "start_code_scan" hash1=first_hash hash2=second_hash %}',
                      type : 'GET',
                      success : function(json) {
                              Swal.fire(
                                  'Scan Finished',
                                  'Scan Finished Successfully',
                                  'success'
                                  ).then((result) => {
                                      location.reload();
                                  });

                      },
                      error : function(xhr,errmsg,err) {
                          Swal.fire(
                              'Scan Failed',
                              errmsg,
                              'error'
                              )
                      }
              });
             
      } else {
              
      }
      });
    }
</script>
{% endblock %}
