{% extends "layouts/base-side-nav.html" %}
   {% load static %}
     {% block sidebar_option %}
      sidebar-mini
     {% endblock %}
    {% block stylesheets %}
    <link href="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "others/css/spinner.css" %}">
    <link href="{% static "datatables/css/datatables.combined.min.css" %}" rel="stylesheet">
     <style type="text/css" media="print">
        @page { size: landscape; }
        @media print {
          .btn, #scan_options  {
            display: none;
          }
        }
    </style>
    <style>
          #app_icon{
            width: 64px;
            height: 64px;
          }

          #pre-wrap {
            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
            }
    </style>
    <script>
      // Preloading
      function dynamic_loader(){
        var loadingOverlay = document.querySelector('.loading');
        loadingOverlay.classList.remove('hidden');
      }
    </script>
    {% endblock %}
    {% block sidebar %}
    <!--Loader-->
<div class="hidden loading">
  <div class='uil-ring-css' style='transform:scale(0.79);'>
    <div></div>
  </div>
  </div>
    <!-- Main Sidebar Container -->
    <!-- Sidebar -->
    <div class="sidebar">

      {% include "includes/sidebar-static.html" %}
    </div>
    <!-- /.sidebar -->
{% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
  <!--
    <div class="container-fluid">
      <div class="row mb-2">
        <div id="mobsf_header" align="center">
        </div>
      </div>
    </div>-->
  </div>
  <!-- /.content-header -->

 <!-- Main content -->
<a id="information" class="anchor"></a>
{% include "includes/ios-appinfo-card-static.html" %}

<a id="permissions" class="anchor"></a>
{% include "includes/ios-permission-table-static.html" %}

<a id="transport_security" class="anchor"></a>
{% include "includes/ios-transport-security-table-static.html" %}

<a id="binary_code_analysis" class="anchor"></a>
{% include "includes/ios-binary-code-analysis-table-static.html" %}

<a id="binary_analysis" class="anchor"></a>
{% include "includes/ios-binary-analysis-table-static.html" %}

<a id="file_analysis" class="anchor"></a>
{% include "includes/ios-file-analysis-table-static.html" %}

<a id="serverlocations" class="anchor"></a>
{% include "includes/server-locations-table-static.html" %}

<a id="malware_check" class="anchor"></a>
{% include "includes/malware-check-table-static.html" %}

<a id="emails" class="anchor"></a>
{% include "includes/emails-table-static.html" %}


<a id="trackers" class="anchor"></a>
{% include "includes/trackers-table-static.html" %}

<!-- end of contents -->
</div>


<!--Modals-->
<div class="modal" id="sup_list" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Suppression Rules</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="sup_table" class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
                <th>Suppression Type</th>
                <th>By Rule ID</th>
                <th>By Files</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{% endblock %}
<!--end new UI-->
{% block javascripts %}
<!-- DataTables -->
<script src="{% static "datatables/js/pdfmake.min.js" %}"></script>
<script src="{% static "datatables/js/vfs_fonts.js" %}"></script>
<script src="{% static "datatables/js/datatables.combined.min.js" %}"></script>
<script src="{% static "others/js/datatables_init.js" %}"></script>
<script src="{% static "amcharts/core.js" %}"></script>
<script src="{% static "amcharts/maps.js" %}"></script>
<script src="{% static "amcharts/worldIndiaLow.js" %}"></script>
<script src="{% static "amcharts/animated.js" %}"></script>
<script src="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.js" %}"></script>
<script>
  var list_suppressions_url = '{% url 'list_suppressions' %}';
  var suppress_by_files_url = '{% url 'suppress_by_files' %}';
  var suppress_by_rule_url = '{% url 'suppress_by_rule' %}';
  var delete_suppression_url = '{% url 'delete_suppression' %}';
</script>
<script src="{% static "others/js/suppression.js" %}"></script>
<style>
  .left-col {
      float: left;
      width: 25%;
  }
  
  li.previous{
    display: none;
  }
  .apkid .dataTables_paginate{
    display: none;
  }
  li.next{
    display: none;
  }
  .center-col {
      float: left;
      width: 75%;
  }
   
  .right-col {
      float: left;
      width: 25%;
  }
  
  .apkid .dataTables_filter{
    display: none;
  }
  
  
</style>
<script>

  // Remove rescan parameter
  window.history.replaceState({}, '', window.location.pathname);


  // Globals
  const csrf = '{{ csrf_token }}'
  const pkg = '{{ bundle_id }}'
  const hash = '{{ md5 }}'
  

  // Navbar Active
    $(".nav-link").on("click", function() {
    $(".nav-link").removeClass("active");
    $(this).addClass("active");
  });
</script>
<script>
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  // Create map instance
  var chart = am4core.create("chartdiv", am4maps.MapChart);
  
  // Set map definition
  chart.geodata = am4geodata_worldIndiaLow;
  
  // Set projection
  chart.projection = new am4maps.projections.Miller();
  
  // Create map polygon series
  var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
  
  // Exclude Antartica
  polygonSeries.exclude = ["AQ"];
  
  // Make map load polygon (like country names) data from GeoJSON
  polygonSeries.useGeodata = true;
  
  // Configure series
  var polygonTemplate = polygonSeries.mapPolygons.template;
  polygonTemplate.tooltipText = "{name}";
  polygonTemplate.polygon.fillOpacity = 0.6;
  
  // Create hover state and set alternative fill color
  var hs = polygonTemplate.states.create("hover");
  hs.properties.fill = chart.colors.getIndex(0);
  
  // Add image series
  var imageSeries = chart.series.push(new am4maps.MapImageSeries());
  imageSeries.mapImages.template.propertyFields.longitude = "longitude";
  imageSeries.mapImages.template.propertyFields.latitude = "latitude";
  imageSeries.mapImages.template.tooltipText = "{title}";
  imageSeries.mapImages.template.propertyFields.url = "url";
  
  var circle = imageSeries.mapImages.template.createChild(am4core.Circle);
  circle.radius = 3;
  circle.propertyFields.fill = "color";
  
  var circle2 = imageSeries.mapImages.template.createChild(am4core.Circle);
  circle2.radius = 3;
  circle2.propertyFields.fill = "color";
  
  
  circle2.events.on("inited", function(event){
    animateBullet(event.target);
  })
  
  function animateBullet(circle) {
      var animation = circle.animate([{ property: "scale", from: 1, to: 5 }, { property: "opacity", from: 1, to: 0 }], 1000, am4core.ease.circleOut);
      animation.events.on("animationended", function(event){
        animateBullet(event.target.object);
      })
  }
  
  var colorSet = new am4core.ColorSet();
  imageSeries.data = [
  {% if domains %}
    {% for domain, details in domains.items %}
      {% if details|key:"geolocation" %}
      {
        'title': '{{details|key:"geolocation"|key:"country_long"}}/{{details|key:"geolocation"|key:"region"}}',
        'latitude': {{details|key:"geolocation"|key:"latitude"}},
        'longitude': {{details|key:"geolocation"|key:"longitude"}},
        'color':colorSet.next()
      },
      {% endif %}
    {% endfor %}
  {% endif %}
  ];
  </script>

{% endblock %}
