{% extends "layouts/base-top-nav.html" %}
{% load static %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block stylesheets %}
<link href="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.css" %}" rel="stylesheet">

<style>
#app_icon{
        width: 32px;
        height: 32pxpx;
    }
.selected {
    background-color: lightgreen !important;
}

.selectable_table tr:hover {
    background-color: lightgreen !important;
}
</style>
{% endblock %}
{% block content %}
  <div class="container mt-5">
          <div class="card">
              <div class="card-header pb-0">
                <div class="row">
                  <div class="col-lg-6 col-7">
                    <h6>Recent Scans</h6>
                    {% comment %} <p class="text-sm mb-0">
                      <i class="fa fa-check text-info" aria-hidden="true"></i>
                      <span class="font-weight-bold ms-1">30 done</span> this month
                    </p> {% endcomment %}
                  </div>
                  {% comment %} <div class="col-lg-6 col-5 my-auto text-end">
                    <div class="dropdown float-lg-end pe-4">
                      <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                      </ul>
                    </div>
                  </div> {% endcomment %}
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">App</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">File</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Package</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Scan Date</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for e in entries %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img class="avatar avatar-sm me-3" src="{% if e.ICON_PATH %}/download/{{ e.ICON_PATH }}{% else %}{% static 'img/no_icon.png' %}{% endif %}">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{ e.APP_NAME }}{% if e.VERSION_NAME %} - {{ e.VERSION_NAME }}{% endif %}</h6>
                            </div>
                          </div>
                        </td>
                        <td class=" text-sm">
                          {{ e.FILE_NAME }}
                        </td>
                        <td class=" text-sm">
                          {{ e.PACKAGE_NAME }}
                        </td>
                        <td class="text-sm">                                                              
                              <span class="text-xs font-weight-bold"> 
                              {{ e.TIMESTAMP }}
                              </span>
                              
                        </td>
                        <td class="align-middle">
                          {% if e.PACKAGE_NAME or e.APP_NAME %}
                          <a class="btn btn-sm  bg-gradient-primary  mb-0 me-1" target="_blank" href="../../../{{ e.ANALYZER }}/{{e.MD5}}/"><i class="fas fa-eye"></i> View</a>
                          <a class="btn btn-sm  bg-gradient-primary  mb-0 me-1" id="{{ e.MD5 }}" onclick="delete_scan(this)" href="#"><i class="fas fa-trash"></i> Delete</a>
                          {% comment %} <a class="btn btn-sm  bg-gradient-primary  mb-0 me-1" target="_blank" href="{% url "pdf" checksum=e.MD5%}"><i class="fas fa-file-pdf"></i>PDF</a> {% endcomment %}
                          {% else %}
                          <div class="text-xs font-weight-bold ">
                              <i class="material-icons text-sm my-auto me-1">schedule</i>
                              <p class="mb-0 text-sm"> Scanning </p>
                            </div>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  </div>
{% endblock %}
{% block javascripts %}

<!-- jQuery -->
<script src="{% static "adminlte/plugins/jquery.min.js" %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static "adminlte/plugins/jquery-ui.min.js" %}"></script>
<script src="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.js" %}"></script>
<script>
    // Diff functions
    var diff_first_md5 = '';
    var diff_first_name = '';

    // When a row is clicked, we check if we already have first scan, if so, ask for confirmation
    function enable_partner_select() {
        $('table tr').on('click', function (e) {
            e.preventDefault();
            if (diff_first_md5 == '') {
                return;
            }
            diff_confirmation($(this));
        })
    }


    function enable_diff_button(){

    }delete_scan

    function disable_diff_button() {
        $('.diffButton').off('click');
    }

    // First pop up only saves the first scan to diff and tells the user to select a partner
    function diff_select(item) {

        Swal.fire({
            title: '<strong>Select App to Compare</strong>',
            type: 'info',
            text: 'Please select the second scan result for comparison',
            timer: 10000
        });
        diff_first_md5 = item.attr('id').slice(0, 32);
        diff_first_name = item.attr('id').slice(33);
        item.closest("tr").addClass("selected");
        item.closest("tbody").addClass("selectable_table");

        // Enable the second partner selection
        enable_partner_select();
        disable_diff_button();
    }

    function diff_cleanup() {
        first_td_id = diff_first_md5 + '_' + diff_first_name;
        $('[id="' + first_td_id + '"]').closest("tr").removeClass("selected");
        $('[id="' + first_td_id + '"]').closest("tbody").removeClass("selectable_table");
        diff_first_md5 = "";
        diff_first_name = "";
        enable_diff_button();
    }

    // Here we get jquery row
    function diff_confirmation(item) {
        // First we need the id which has the md5 and name
        rows_tds = item.find('td');
        selected_md5 = rows_tds[3].innerText;
        if (diff_first_md5 == selected_md5) {
            return;
        }
        diff_second_md5 = selected_md5;
        diff_second_name = rows_tds[1].innerText;

        Swal.fire({
            title: '<strong>Diff confirmation</strong>',
            type: 'info',
            html:
                '<strong>Do you want to diff - </strong><br />' + diff_first_name +
                '<br /> <strong>with - <br /> </strong>' + diff_second_name + ' <br /> <strong>?</strong>',

            showCancelButton: true,
            cancelButtonText: 'Cancel',
            confirmButtonText: 'Start Diffing!',
        }).then((result) => {
            if (result.value) {
                window.location = '/compare/' + diff_first_md5 + '/' + diff_second_md5 + '/';
            } else {
                 diff_cleanup();
            }
        })
    }
    function delete_scan(item) {
      var md5_hash = item.id;
      console.log(md5_hash)
      if (confirm("Are you sure to permanently remove the scan results?") == true) {
          $.ajax({
                  url: '{% url "delete_scan" %}',
                      type : 'POST',
                  dataType: 'json',
                      data : {
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                              md5: md5_hash,
                              },
                          success : function(json) {
                              if (json.deleted==='yes'){
                                      alert("Delete success!");
                                      location.reload();
                                  
                              }
                              else {                                
                                alert("Delete Failed!");
                              }
                          },
                          error : function(xhr,errmsg,err) {
                            alert("Delete Failed!");
                          }
              });
             
        
      } else {
        
      }
    }
    function delete_scan(item){
      
      Swal.fire({
      title: 'Are you sure?',
      text: "This will permanently remove the scan results.",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes',
      cancelButtonText: 'No',
      confirmButtonColor: '#d33',
      cancelButtonColor: '#2da532',
    }).then((result) => {
        if (result.value) {
            var md5_hash = item.id;
            $.ajax({
                    url: '{% url "delete_scan" %}',
                        type : 'POST',
                    dataType: 'json',
                        data : {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                md5: md5_hash,
                                },
                            success : function(json) {
                                if (json.deleted==='yes'){
                                    Swal.fire(
                                        'Deleted!',
                                        'The scan result is deleted!',
                                        'success'
                                    ).then(function () {
                                        location.reload();
                                    })
                                }
                                else {
                                    Swal.fire(
                                    'Delete Failed',
                                    'Cannot delete the scan result!',
                                    'error'
                                    )
                                }
                            },
                            error : function(xhr,errmsg,err) {
                                Swal.fire(
                                    'Delete Failed',
                                    errmsg,
                                    'error'
                                    )
                            }
                });
               
        } else {
                diff_cleanup();
        }
        });
}
    

enable_diff_button();

</script>

{% endblock %}