{% extends "includes/base-card.html" %}
{% load static %}
{% block card-header %}
Certificate Analysis
{% endblock %}
{% block card-body %}
{% comment %} <div class="card card-body mx-3 mx-md-4 mt-n6"> {% endcomment %}
  <div class="row gx-4 mb-2">
  <div class="table-responsive mb-4">
    <table class="table-striped align-items-center mb-4">
      <thead>
        <tr>
          <th class="col-12 col-xl-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 p-2">Status</th>
          <th class="col-12 col-xl-3 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
          <th class="col-12 col-xl-8 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 p-2">Description</th>
          {% comment %} <th class="col-12 col-xl-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% if certificate_analysis and 'certificate_findings' in certificate_analysis %}
            {% for find in certificate_analysis.certificate_findings %}
            {% if find.0 == "high" or find.0 == "warning"  %}
            <tr>
            
            <td class="col-12 col-xl-1 text-sm p-3">
            {% if find.0 == 'high' %}
                <span class="badge bg-danger">high</span>
            {% elif find.0  == 'secure' %}
                <span class="badge bg-success">secure</span>
            {% elif find.0  == 'warning' %}
                <span class="badge bg-warning">warning</span>
            {% elif find.0  == 'info' %}
                <span class="badge bg-info">info</span>
            {% endif %}
            </td>
            {% comment %} <td class="col-12 col-xl-3 text-sm p-3 f">{{ details }}</td> {% endcomment %}
            <td class="col-12 col-xl-3 text-sm p-3">{{ find.2 }}</td>
            <td class="col-12 col-xl-8 text-sm p-3">{{ find.1 }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  </div>
{% comment %} </div> {% endcomment %}
{% endblock %}