{% extends "includes/base-card.html" %}
{% load static %}
{% block card-header %}
Code Analysis
{% endblock %}
{% block card-body %}
{% comment %} <div class="card card-body mx-3 mx-md-4 mt-n6"> {% endcomment %}
  <div class="row gx-4 mb-2">
  <div class="table-responsive mb-4">
    <table class="table-striped align-items-center mb-4">
      <thead>
        <tr>
          <th class="col-12 col-xl-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 p-2">Severity</th>
          <th class="col-12 col-xl-3 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Issue</th>
          <th class="col-12 col-xl-6 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 p-2">Standard</th>
          <th class="col-12 col-xl-6 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 p-2">Files</th>
          {% comment %} <th class="col-12 col-xl-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% if code_analysis and 'findings' in code_analysis %}
          {% for rule, details in code_analysis.findings.items %}
            <tr>
            
            <td class="col-12 col-xl-1 text-sm p-3">
              {% if details.metadata.severity == "high" %}
              <span class="badge bg-danger">high</span>
              {% elif details.metadata.severity == "good" %}
              <span class="badge bg-success">secure</span>
              {% elif details.metadata.severity == "warning" %}
              <span class="badge bg-warning">warning</span>
              {% elif details.metadata.severity == "info" %}
              <span class="badge bg-info">info</span>
              {% endif %}
            </td>
            <td class="col-12 col-xl-2 text-sm p-3">
              {% if details.metadata|key:"ref" %}
                <a href="{{details.metadata.ref}}" target="_blank" rel="noopener"> {{ details.metadata.description }}</a>
              {% else %}
                {{ details.metadata.description }}
              {% endif %}
            </td>
            <td class="col-12 col-xl-3 text-sm p-3 f">
              {% if average_cvss %}
              <strong>CVSS V2:</strong>
              {{ details.metadata.cvss }}
              {% if details.metadata.cvss > 6 %}
                (high)
              {% elif details.metadata.cvss == 0 %}
                (info)
              {% elif details.metadata.cvss >= 4 %}
                (medium)
              {% elif details.metadata.cvss < 4 %}
                (low)
              {% endif %}
              </br>
            {% endif %}
            {% if details.metadata.cwe %} <strong>CWE: </strong>{{ details.metadata.cwe }}{% endif %}
            {% if details.metadata|key:"owasp-mobile" %}</br> <strong>OWASP Top 10: </strong>{{ details.metadata|key:"owasp-mobile" }}{% endif %}
            {% if details.metadata.masvs %}</br> <strong>OWASP MASVS: </strong>{{ details.metadata.masvs }}{% endif %}
            </td>
            <td class="col-12 col-xl-6 text-sm p-3">
              {% if details.files|length < 4 %}
              {% for file_path, lines in details.files.items %}
                <small>
                  <a href="{% url "view_source" %}?file={{ file_path }}&amp;md5={{ md5 }}&amp;type={{app_type}}&amp;lines={{ lines}}"> {{ file_path }}</a>
                </small>
              </br>
              {% endfor %}
              {% else %}
                <a class="btn btn-primary btn-xs" data-toggle="collapse" href="#collapsecode{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapsecode{{forloop.counter}}">
                  Show Files
                </a>
                <div class="collapse" id="collapsecode{{forloop.counter}}">
                  {% for file_path, lines in details.files.items %}
                    <small>
                      <a href="{% url "view_source" %}?file={{ file_path }}&amp;md5={{ md5 }}&amp;type={{app_type}}&amp;lines={{ lines}}"> {{ file_path }}</a>
                    </small>
                  </br>
                  {% endfor %}
                </div>
              {% endif %}
            </td>
            </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  </div>
{% comment %} </div> {% endcomment %}
{% endblock %}