{% load static %}
<div class="card card-body mx-3 mx-md-4 mt-n6">
  <div class="row gx-4 mb-2">
    <div class="col-auto">
      <div class="avatar avatar-xl position-relative">
        {% if app_type not in 'so' %}
        <img id="app_icon" src="{% if icon_path %}/download/{{icon_path}}{% else %}{% static 'img/no_icon.png' %}{% endif %}"/>
        {% endif %}
      </div>
    </div>
    <div class="col-auto my-auto">
      <div class="h-100">
        <h5 class="mb-1">{{ app_name }}</h5>
        <p class="mb-0 font-weight-normal text-sm">{{ package_name }}</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0">File Information</h6>
          </div>
          <div class="card-body p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                <strong class="text-dark">File Name:</strong> &nbsp; {{ file_name }}
              </li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Size:</strong> &nbsp; {{ size }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">MD5:</strong> &nbsp; {{ md5 }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">SHA1:</strong> &nbsp; {{ sha1 }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">SHA256:</strong> &nbsp; {{ sha256 }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0">App Information</h6>
          </div>
          <div class="card-body p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">App Name:</strong> &nbsp; {{ app_name }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">App Type:</strong> &nbsp; {{ app_type }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Identifier:</strong> &nbsp; {{ bundle_id }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">SDK Name:</strong> &nbsp; {{ sdk_name }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">App Version:</strong> &nbsp; {{ app_version }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Build:</strong> &nbsp; {{ build }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Platform:</strong> &nbsp; {{ platform }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Min OS Version:</strong> &nbsp; {{ min_os_version }}</li>      
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Supported Platforms:</strong> &nbsp;{% for pl in bundle_supported_platforms %}
                {{pl}},
              {% endfor %}</li>      
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Binary Information</h6>
          </div>
          <div class="card-body p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Arch:</strong> &nbsp; {{ binary_info.arch  }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Sub Arch:</strong> &nbsp; {{ binary_info.subarch }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Bit:</strong> &nbsp; {{ binary_info.bit }}</li>
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Endian:</strong> &nbsp; {{ binary_info.endian }}</li>   
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
