{% load static %}
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="info">
    <a href="#" class="d-block">Static Analysis</a>
  </div>
</div>

<!-- Sidebar Menu -->
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
      <a href="{% url 'home' %}" class="nav-link">
        <i class="nav-icon fas fa-home"></i>
        <p>
          Home
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#information" class="nav-link">
        <i class="nav-icon fas fa-info-circle"></i>
        <p>
          Information
        </p>
      </a>
    </li>
    {% if app_type not in 'so' %}
    <li class="nav-item">
      <a href="#permissions" class="nav-link">
        <i class="nav-icon fas fa-list"></i>
        <p>
          Permissions
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#android_api" class="nav-link">
        <i class="nav-icon fab fa-android"></i>
        <p>
          Android API
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#network_security" class="nav-link">
        <i class="nav-icon fas fa-lock"></i>
        <p>
          Network Security
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#code_analysis" class="nav-link">
        <i class="fa fa-code nav-icon"></i>
        <p>Code Analysis</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#certificate_analysis" class="nav-link">
        <i class="nav-icon fa fa-id-card"></i>
        <p>
          Certificate Analysis
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#binary_analysis" class="nav-link">
        <i class="nav-icon fas fa-flag"></i>
        <p>Binary Analysis</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#apkid" class="nav-link">
        <i class="fas fa-fingerprint nav-icon"></i>
        <p>Compiler Analysis</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#serverlocations" class="nav-link">
        <i class="fas fa-globe-asia nav-icon"></i>
        <p>Server Locations</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#malware_check" class="nav-link">
        <i class="fab fa-searchengin nav-icon"></i>
        <p>Domain Malware Check</p>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<!-- /.sidebar-menu -->