{% extends "includes/base-card.html" %}
{% load static %}
{% block card-header %}
Url found
{% endblock %}
{% block card-body %}
{% comment %} <div class="card card-body mx-3 mx-md-4 mt-n6"> {% endcomment %}
  <div class="row gx-4 mb-2">
  <div class="table-responsive mb-4">
    <p></br>This app may communicate with the following OFAC sanctioned list of countries.</p>
    <table class="table-striped align-items-center mb-4">
      <thead>
        <tr>
          <th class="col-12 col-xl-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 p-2">Email</th>
          <th class="col-12 col-xl-3 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">File</th>
          {% comment %} <th class="col-12 col-xl-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% for urldict in urls %}
        <tr>
           <td class="col-12 col-xl-1 text-sm p-3">
           {% for e in urldict|key:"urls" %}
             {{ e }} <br/>
           {% endfor %}
            </td>
           <td class="col-12 col-xl-1 text-sm p-3">
            {% if app_type in 'apk' %}
              <a href="{% url "view_source" %}?file={{urldict|key:"path"}}&amp;md5={{ md5}}&amp;type={{app_type}}">{{urldict|key:"path"}}</a>
            {% else %}
              <a href="{% url "view_file_ios" %}?file={{urldict|key:"path"}}&amp;md5={{ md5}}&amp;type={{app_type}}">{{urldict|key:"path"}}</a>
            {% endif %}              
           </td>
        </tr>
      {% endfor %} 
        
      </tbody>
    </table>
  </div>
  </div>
{% comment %} </div> {% endcomment %}
{% endblock %}