{% extends "layouts/base-top-nav.html" %}
{% load static %}
{% block sidebar_option %}
sidebar-collapse
{% endblock %}
{% block content %}
<div class="container mt-5">
   <div class="container-fluid">
      <div class="row justify-content-center">
            <div class="card  card-plain col-lg-6 col-7 ">
               <div class="card-header">
                  <div class=" align-items-center justify-content-center">
                        <div class="card-header">
                            <div class="row">
                              <div class="col-lg-6 col-7">
                                <h6>Change Password</h6>
                              </div>
                            </div>
                     
                           <div class="card-body ">
                              <div class="card-body login-card-body">
                                 <form method="post">
                                    {% csrf_token %}
                                    {% if messages %}
                                   <ul class="messages">
                                       {% for message in messages %}
                                       <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                       {% endfor %}
                                   </ul>
                                   {% endif %}
                                    {{ form.non_field_errors }}
                                    <div class="input-group input-group-outline mb-3">
                                       <input type="password" name="old_password" class="form-control" placeholder="Current Password"  autocomplete="current-password" autofocus="" required="" id="id_old_password">
            
                                    </div>
                                    {% for err in form.old_password.errors %}
                                    <small> {{ err }} </small><br>
                                    {% endfor %}
                                    <div class="input-group input-group-outline mb-3">
                                       <input type="password" name="new_password1" class="form-control" placeholder="New Password" autocomplete="new-password" required="" id="id_new_password1">
                                    </div>
                                    {% for err in form.new_password1.errors %}
                                    <small> {{ err }} </small><br>
                                    {% endfor %}
                                    <div class="input-group input-group-outline mb-3">
                                       <input type="password" name="new_password2" class="form-control" placeholder="Confirm Password" autocomplete="new-password" required="" id="id_new_password2">
                                    </div>
                                    {% for err in form.new_password2.errors %}
                                    <small> {{ err }} </small><br>
                                    {% endfor %}
                                    <div class="row">
                                       <div class="col-6">
                                          <button type="submit" class="btn btn-primary btn-block">Update Password</button>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}


